body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #f0f0f0;

  background-image: url("/balao.png"), url("/pizza.png"), url("/churrasco.png"),
    url("/refri.png");

  background-size: 10%, 15%, 15%, 15%;
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
